/* Estilos para desktop */

/* Coloque aqui os estilos para desktop, por exemplo: */
.container {
    width: 960px;
    margin: 0 auto;
}

/* Estilos para dispositivos móveis */

/* Use media queries para definir estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Estilos para telas menores que 768px (típico de smartphones) */

    /* Reset de largura do container para ocupar toda a largura */
    .container {
        width: 100%;
        
        
    }

    body {
        background-image: url("../img/background.jpg");
        background-size: 70%;
        background-repeat: repeat;
      }
    .video {
        position: absolute;
        left: 12%;
        height: 20%;
        width: 80%;
        z-index: -1;
    }
    #logo {
        width: 40%;
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: -1;

      }

    #patrulha {
        width: 80%;
        position: absolute;
      
        display: flex;
        left: 10%;
        top: 38%;
      }

      #frase {
        
  width: 90%;
  position: absolute;
  top: 75%;
  left: 5%;
  display: flex;
      }

      .links {
        position: absolute;
        top: 85%;
        left: 5%;
        display: flex;
        max-width: 90%;
        justify-content: space-between;
        /*flex-direction: column;*/
      }
      
      #horario,
      #data,
      #local {
        height: 35%;
        display: flex;
      
        justify-content: space-between;
        max-width: 500%;
      }

    /* Outros ajustes necessários para dispositivos móveis */
}


